.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}


.estrellas {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    color: #FFA726; /* Cambiar el color a amarillo medio naranja */
}

.list-group-item  {
    background-color: #212529;
}

h2 {
    color: grey;
}
p {
    color: grey;
}

.dropdown-top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px; 
    margin-right: 30px; 
}